<div class="container">
  <form [formGroup]="form">
    <div class="form-group">

      <div class="row">
        <div class="col-lg-2 col-lg-offset-4">
          <label for="Total">Total</label>
          <input type="text" formControlName="Total" class="form-control centered" id="Total" placeholder="Enter value">
          <div></div>
        </div>
      </div>
      <div formArrayName="SubTotals">
        <button class="btn btn-default" type="button" (click)="onAddSubTotal()">Add SubTotal</button>


        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <div class="form-group" *ngFor="let subtotalControl of form.get('SubTotals').controls; let i = index">
              <input type="text" class="form-control " [formControlName]="i">
              <div></div>
            </div>
          </div>
          <div class="col-lg-4"></div>
        </div>



      </div>
    </div>

    <button type="submit" class="btn btn-default">Calculate</button>
  </form>
</div>